.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.header h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 1.125rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
